.navbar {
    height: 100%;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-right: 1px solid rgb(216, 216, 216)
}

.navbar-start, .navbar-end {
    display: flex;
    flex-direction: column;

    justify-content: center !important;
    align-items: center !important;

    margin: 0 !important;
}